{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h3>Carrito de compras</h3>
  <ul class="list-group mb-3">
    {% for item in carrito %}
<div class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <h5>{{ item.nombre }}</h5>
    <p class="mb-1">Origen: {{ item.origen }}</p>
    <p class="fw-bold">${{ item.precio }}</p>
  </div>
  <a href="{% url 'eliminar_del_carrito' item.unique_id %}" class="btn btn-danger">Eliminar</a>
</div>
{% endfor %}

  </ul>
  <h4>Total: ${{ total }}</h4>
</div>
<div class="text-end mt-4">
  <form action="{% url 'iniciar_pago' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg">
      💳 Pagar con tarjeta
    </button>
  </form>
</div>
<a href="{% url 'pago_junaeb' %}" class="btn btn-warning">Pagar con Junaeb (BAES)</a>


{% endblock %}
